<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GLSLWallpaper</title>
    <link rel="stylesheet" href="/static/bundle.css">
</head>
<body>
    <header>
        <h1>GLSLWallpaper</h1>
    </header>
    <main>
        <canvas class="background"></canvas>
    </main>
    <footer>
        Darkboy, Inc. &copy; All Right Reserved 
    </footer>
    <script src="/static/bundle.js"></script>
</body>
</html>
